.login {
    display: grid;
    place-items: center;
    background-color: #191414;
    height: 100vh;
}

.login > img {
    max-width: 50%;
}

.login > a {
    padding: 8px 30px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.login > a :hover {
    background-color: #1ed760;
}